![img](img/images.png)

# Spotify Music Data

## Contexte

 This dataset consists of ~600 songs that were in the top songs of the year from 2010 to 2019 (as measured by Billboard). You can explore interesting song data pulled from Spotify such as the beats per minute, amount of spoken words, loudness, and energy of every song.

## Chargement des données
Les données sont dans un tableau au format CSV (comma separated values):

In [14]:
# importing packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [15]:
# transfering dataset in dataframe
spotify=pd.read_csv("Data/datacamp_workspace_export_2022-10-26 21_41_25.csv")

In [16]:
spotify.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 603 entries, 0 to 602
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   title      603 non-null    object
 1   artist     603 non-null    object
 2   top genre  603 non-null    object
 3   year       603 non-null    int64
 4   bpm        603 non-null    int64
 5   nrgy       603 non-null    int64
 6   dnce       603 non-null    int64
 7   dB         603 non-null    int64
 8   live       603 non-null    int64
 9   val        603 non-null    int64
 10  dur        603 non-null    int64
 11  acous      603 non-null    int64
 12  spch       603 non-null    int64
 13  pop        603 non-null    int64
dtypes: int64(11), object(3)
memory usage: 66.1+ KB

In [17]:
# viewing the dataset
spotify.head()

,title,artist,top genre,year,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop
0,"""Hey, Soul Sister""",Train,neo mellow,2010,97,89,67,-4,8,80,217,19,4,83
1,Love The Way You Lie,Eminem,detroit hip hop,2010,87,93,75,-5,52,64,263,24,23,82
2,TiK ToK,Kesha,dance pop,2010,120,84,76,-3,29,71,200,10,14,80
3,Bad Romance,Lady Gaga,dance pop,2010,119,92,70,-4,8,71,295,0,4,79
4,Just the Way You Are,Bruno Mars,pop,2010,109,84,64,-5,9,43,221,2,4,78

In [19]:
spotify.shape

(603, 14)

In [12]:
spotify.describe(include='all')

,title,artist,top genre,year,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop
count,603,603,603,603.000000,603.000000,603.000000,603.000000,603.000000,603.000000,603.000000,603.000000,603.000000,603.000000,603.000000
unique,584,184,50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,A Little Party Never Killed Nobody (All We Got),Katy Perry,dance pop,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,2,17,327,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,2014.592040,118.545605,70.504146,64.379768,-5.578773,17.774461,52.225539,224.674959,14.326700,8.358209,66.520730
std,NaN,NaN,NaN,2.607057,24.795358,16.310664,13.378718,2.798020,13.102543,22.513020,34.130059,20.766165,7.483162,14.517746
min,NaN,NaN,NaN,2010.000000,0.000000,0.000000,0.000000,-60.000000,0.000000,0.000000,134.000000,0.000000,0.000000,0.000000
25%,NaN,NaN,NaN,2013.000000,100.000000,61.000000,57.000000,-6.000000,9.000000,35.000000,202.000000,2.000000,4.000000,60.000000
50%,NaN,NaN,NaN,2015.000000,120.000000,74.000000,66.000000,-5.000000,12.000000,52.000000,221.000000,6.000000,5.000000,69.000000
75%,NaN,NaN,NaN,2017.000000,129.000000,82.000000,73.000000,-4.000000,24.000000,69.000000,239.500000,17.000000,9.000000,76.000000
max,NaN,NaN,NaN,2019.000000,206.000000,98.000000,97.000000,-2.000000,74.000000,98.000000,424.000000,99.000000,48.000000,99.000000

In [13]:
spotify.columns

Index(['title', 'artist', 'top genre', 'year', 'bpm', 'nrgy', 'dnce', 'dB',
       'live', 'val', 'dur', 'acous', 'spch', 'pop'],
      dtype='object')

Les colonnes sont:

*	title : The title of the song

*	artist: The artist of the song

*	top genre: The genre of the song

*	year : The year the song was in the Billboard

*	bpm : Beats per minute: the tempo of the song

*	nrgy : The energy of the song: higher values mean more energetic (fast, loud)

*	dnce : The danceability of the song: higher values mean it's easier to dance to

*	dB : Decibel: the loudness of the song

*	live : Liveness: likeliness the song was recorded with a live audience

*	val : Valence: higher values mean a more positive sound (happy, cheerful)

*	dur : The duration of the song

*	acous : The acousticness of the song: likeliness the song is acoustic

*	spch : Speechines: higher values mean more spoken words

*	pop : Popularity: higher values mean more popular

In [22]:
# dataframe with top 5 songs
top_df = spotify[0:5]
top_df

,title,artist,top genre,year,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop
0,"""Hey, Soul Sister""",Train,neo mellow,2010,97,89,67,-4,8,80,217,19,4,83
1,Love The Way You Lie,Eminem,detroit hip hop,2010,87,93,75,-5,52,64,263,24,23,82
2,TiK ToK,Kesha,dance pop,2010,120,84,76,-3,29,71,200,10,14,80
3,Bad Romance,Lady Gaga,dance pop,2010,119,92,70,-4,8,71,295,0,4,79
4,Just the Way You Are,Bruno Mars,pop,2010,109,84,64,-5,9,43,221,2,4,78